<a href="https://colab.research.google.com/github/Cuellars/cyp_2021/blob/main/Tarea5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ejercicio3.1
import array
array.array('f')
sueldos = array.array('f',(0 for i in range(0, 10)))

nomina = float(0)

for i in range (0, 10):
  sueldos[i] = int(input(f"Ingresa el {i+1} sueldo: "))
  nomina += sueldos[i]

print("La nomina de la empresa con base a los sueldos es: ", nomina)

Ingresa el 1 sueldo: 1500
Ingresa el 2 sueldo: 890
Ingresa el 3 sueldo: 700
Ingresa el 4 sueldo: 950
Ingresa el 5 sueldo: 2300
Ingresa el 6 sueldo: 1650
Ingresa el 7 sueldo: 1800
Ingresa el 8 sueldo: 1400
Ingresa el 9 sueldo: 760
Ingresa el 10 sueldo: 900
La nomina de la empresa con base a los sueldos es:  12850.0

In [3]:
#ejercicio3.4
import array
array.array('f')
gastos = array.array('f',(0 for i in range(0, 999)))
a = int(0)
yes_no = ''
total_gastos = float(0)

while True:
  gastos[a] = float(input(f"¿De cuanto fue el {a+1} gasto?: "))
  total_gastos += gastos[a]
  while True:
    yes_no = ''
    yes_no = str(input("¿Hubo algún otro gasto? S/N: "))
    if yes_no == 's' or yes_no == 'S' or yes_no == 'n' or yes_no == 'N':
      break;
    else:
      print("Debes ingresar S o N para continuar.\n")
  if yes_no == 'n' or yes_no == 'N':
    break;
  elif yes_no == 's' or yes_no == 'S':
    a += 1

print("\nEl total de gastos durante el viaje es de: ",total_gastos)
print("\nLos gastos individuales son:\n")

for i in range (0, a+1):
  print(f"{i+1} gasto es de: {gastos[i]}")

¿De cuanto fue el 1 gasto?: 350
¿Hubo algún otro gasto? S/N: s
¿De cuanto fue el 2 gasto?: 789
¿Hubo algún otro gasto? S/N: n

El total de gastos durante el viaje es de:  1139.0

Los gastos individuales son:

1 gasto es de: 350.0
2 gasto es de: 789.0